@{
    ViewBag.Title = "FirstPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Первая страница</h3>

<div id="vk_like"></div>
<script type="text/javascript">
 VK.Widgets.Like('vk_like');
</script>

<button id="but1" style="display:none;">Лайкнуть</button>